/* Setup */
@import url(setup/vars.css);

/* Basics  */
@import url(basics/base.css);
@import url(basics/layout.css);
@import url(basics/helpers.css);

/* Components */
@import url(components/main-header.css);
@import url(components/header-content.css);
@import url(components/main-nav.css);
@import url(components/nav-list.css);
@import url(components/meme-list-image.css);
@import url(components/memes-grid-container.css);
@import url(components/meme-editor-page.css);
@import url(components/editor-tools.css);
@import url(components/meme-saved-page.css);
@import url(components/user-msg.css);
@import url(components/save-container.css);

/* Media Queries */
@import url(setup/mq.css);

.font-editors-container input[type='color'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  inset: 0;
}

.btn-font {
  position: relative;
}