.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.space-between {
  justify-content: space-between;
}

/* list helpers */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hidden {
  display: none !important;
}


.custom-input {
  font-size: 24px;
  padding: 10px;
  padding-inline-start: 1em;
  border: 2px solid var(--clr-primary-1);
  border-radius: 1em;
}

/* Change border color on focus */
.custom-input:focus {
  border-color: var(--clr-primary-2);
}

.remove-display {
  display: none;
}

.shadow {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.btn-trans {
  background: transparent;
  border: none;
}