.main-header {
  position: fixed;
  height: 60px;
  width: 100%;
  padding: 15px;
}

.main-header .btn-toggle-menu {
  display: none;
}

.meme-gallery-page,
.meme-editor-page {
  margin-block-start: 60px;
}

.meme-editor-page {}

.meme-editor-page main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

.main-header .logo {
  width: 200px;
}

.meme-editor-canvas {
  justify-self: center;
}