.main-header {
  position: fixed;
  height: 60px;
  width: 100%;
  padding: 15px;
}

.main-header .btn-toggle-menu {
  display: none;
}

.meme-gallery-page,
.meme-editor-page {
  margin-block-start: 60px;
}

.meme-editor-page {}

.meme-editor-page main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

.main-header .logo {
  width: 200px;
}

.meme-editor-canvas {
  justify-self: center;
}

.filter-search-section {
  padding-block: 20px;
  padding-inline: 20px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.filter-search-section>.input-icon-container {
  position: relative;
  flex: 1;
}

.filter-search-section .search-meme-input {
  padding-inline-start: 2em;
  width: 100%;
  height: 58px;
  border-radius: 29px;
  border: none;
  background-color: var(--primary-color-1);
  font-size: 1.3125em;
}

.filter-search-section i.fa-magnifying-glass {
  display: inline;
  position: absolute;
  font-size: 2em;
  background: linear-gradient(-86deg, #33be6d 0, #0c98b9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  height: 30px;
  width: 30px;
  right: 5%;
  top: 25%;
}

.filter-search-section>.key-words-container {
  background-color: #87898d;
  border-radius: 30px;
  font-size: .6em;
  flex: 1;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
}

.key-words-container>button {
  border: none;
  background-color: inherit;
  color: #fff;
}