/* Mobile Only */
@media (max-width: 640px) {

  .meme-list-image img,
  .meme-editor-page .meme-editor-canvas {
    /* TODO: make 100vw without overflow*/
    width: 90vw;
  }

  .main-header .btn-toggle-menu {
    display: block;
  }

  .main-nav {
    position: fixed;
    top: var(--spacing-head);
    background: var(--clr-primary2);
    left: 0;
    width: 100%;


    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 1s;
    align-items: end;
    align-content: end;
  }

  body.menu-open .main-nav {
    grid-template-rows: 1fr;
  }

  .main-nav>ul {
    flex-direction: column;
    min-height: 0;
  }

  .main-nav>ul li {
    border-bottom: 1px solid #000;
  }

  .main-nav a {
    padding: 1em;
  }

  .main-nav a {
    font-size: 1.5em;
  }
}

/* Small */
@media (min-width: 640px) {
  .memes-grid-container .meme-list-image img {
    max-width: 20vw;
  }

  .main-layout {
    display: grid;
    grid-template-columns:
      var(--layout-padding) 1fr var(--layout-padding);
  }

  .main-layout>* {
    grid-column: 2;
  }

  .main-nav a {
    font-size: 1.2em;
  }

  .filter-search-section {
    display: grid;
    grid-template-columns: 5vw repeat(2, 1fr) 5vw;
    gap: 1em;
  }

  .input-icon-container {
    grid-column: 2;
  }

  .filter-search-section .search-meme-input {
    padding-inline-start: 1em;
  }

  .input-icon-container i.fa-magnifying-glass {
    scale: 0.7;
  }
}

/* Medium */
@media (min-width: 900px) {

  .meme-editor-page .meme-editor-canvas {
    width: 50vw;
  }

  .filter-search-section {
    flex-direction: row;
  }

  .main-nav a {
    font-size: 1.5em;
  }

  .editor-tools {
    padding-block-start: 1em;
  }
}

/* Large */
@media (min-width: 1020px) {
  .meme-editor-page main {
    flex-direction: row;
  }

  .meme-editor-page .meme-editor-canvas {
    width: 35vw;
  }
}