/* Mobile Only */
@media (max-width: 640px) {

  .meme-list-image img,
  .meme-editor-page .meme-editor-canvas {
    /* TODO: make 100vw without overflow*/
    width: 90vw;
  }

  .main-header .btn-toggle-menu {
    display: block;
  }

  .main-nav {
    position: fixed;
    top: var(--spacing-head);
    background: var(--clr-primary2);
    left: 0;
    width: 100%;


    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 1s;
    align-items: end;
    align-content: end;
  }

  body.menu-open .main-nav {
    grid-template-rows: 1fr;
  }

  .main-nav>ul {
    flex-direction: column;
    min-height: 0;
  }

  .main-nav>ul li {
    border-bottom: 1px solid #000;
  }

  .main-nav a {
    padding: 1em;
  }

  .editor-tools {
    padding: 0;
  }
}

/* Small */
@media (min-width: 640px) {
  .meme-list-image img {
    max-width: 20vw;
  }
}

/* Medium */
@media (min-width: 900px) {

  .meme-editor-page .meme-editor-canvas {
    width: 35vw;
  }

  .filter-search-section {
    flex-direction: row;
  }
}

/* Large */
@media (min-width: 1020px) {
  .meme-editor-page main {
    flex-direction: row;
  }
}