:root {
  --clr-primary1: #000;
  --clr-primary2: #181a1b;
  --clr-primary3: #58c93a;

  --clr-bg: #181a1b;
  --clr-content: #2e3234;
  --clr-black: #121212;
  --clr-grey: #5d6468;
  --clr-white: #e8e6e3;

  --spacing-head: 60px;
  --layout-padding: 20px
}